.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 100vh;
    border: 3px solid rgb(118, 20, 20);


}


#avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.logo {
    display: flex;
    margin-top: 10px;
    background-color: red;
    border-radius: 50%;
    width: 100px;
}

.fenice {
    display: flex;
    text-align: center;
    width: 100px;
    height: 80px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding-top: 20px;
    color: #e8f317;
    transition: color 0.3s;
}

.links:hover {
    color: #2b2bb2;
}

.nome {
    display: block;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}